<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>13DAB9A5-C3B6-4A19-A3F7-E5EF40E3FCEC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Search Goolge Inbox for '{query}'</string>
			<key>url</key>
			<string>https://inbox.google.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4429F8AD-FA79-424F-915E-2F6FAD212FA9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Search GitHub for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>53031EBD-B3EB-47AF-B7EF-D6485C20F460</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stash</string>
			<key>text</key>
			<string>Search Stash for '{query}'</string>
			<key>url</key>
			<string>https://stash.corp.netflix.com/plugins/servlet/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>79278385-9947-4F54-9E75-1052EA1B84B1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>confluence</string>
			<key>text</key>
			<string>Search Confluence for '{query}'</string>
			<key>url</key>
			<string>https://confluence.netflix.com/dosearchsite.action?queryString={query}&amp;startIndex=0&amp;where=conf_all</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
